.sprite-image {
    width: 32px;
    height: 32px;
    overflow: hidden;
    position: relative;
}

.vkontakte {
    position:absolute;
    left: 0;
    width: 96px;
    height: 32px;
}

.instagram {
    position:absolute;
    left: -32px;
    width: 96px;
    height: 32px;
}

.telegram {
    position:absolute;
    left: -64px;
    width: 96px;
    height: 32px;
}