.task {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    width: 500px;
    height: 50px;
    background-color: #8582D9;
}

.text {
    width: 350px
}

.buttons input {
    width: 25px;
    height: 25px;
    margin: auto 20px auto auto;
}

.buttons button {
    width: 75px;
    height: 25px;
    background-color: #8582D9;
    margin-right: 20px;
}

.line-through {
    text-decoration: line-through;
}

.buttons {
    display: flex;
    height: 25px
}

@media screen and (min-device-width: 1920px) {
    .task {
        width: 700px;
        height: 90px;
        margin-top: 70px;
        font-size: 30px;
    }
    .task:nth-child(n+3) {
        margin-top: 0;
    }
    .buttons input {
        width: 40px;
        height: 40px;
        margin: auto 40px auto auto;
    }

    .buttons button {
        width: 120px;
        height: 40px;
        background-color: #8582D9;
        margin-right: 40px;
        font-size: 25px;

    }

    .text {
        width: 440px;
        font-size: 30px;
    }

    .buttons {
        display: flex;
        height: 40px
    }
}

.list {
    margin: 20px;
    flex-direction: row;
}